* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 880px;
  background-image: url("./images/background.jpg");
}

.center-cover-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  color: white;
  /* svg 파일은 font로 취급함 */
  font-size: 35px;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  /* ul의 점 없애기 */
  list-style-type: none;
  gap: 40px;
}

.nav-menu ul li {
  color: white;
  /* 600, 900만 거의 의미가 있음.  숫자를 사용안할거면 그냥 bold로 하면 됨. */
  font-weight: 600;
}

.search-box {
  width: 430px;
  background-color: white;
  padding: 20px 30px;
  margin-top: 20px;
  margin-left: 50px;
  /* position: relative;
  top: 20px;
  left: 50px; */
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgb(214, 214, 214);
}

.search-explain {
  font-size: 30px;
  font-weight: 900;
  color: rgb(75, 75, 75);
}

table {
  width: 100%;
}

.search-label {
  font-size: 12px;
  font-weight: 600;
  padding: 10px 0;
}

.search-input {
  padding: 10px;
  width: 100%;
  font-size: 15px;
  color: rgb(75, 75, 75);
  /* border-width: 1px;
  border-style: solid;
  border-color: rgb(214, 214, 214); */
  border: 1px solid rgb(214, 214, 214);
  cursor: pointer;
}

.search-button {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.search-button button {
  background-color: #ff5a5f;
  border-width: 0;
  border-radius: 6px;
  width: 70px;
  height: 45px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  /* 버튼에 마우스 오버하면 손가락 모양으로 변경됨 */
  cursor: pointer;
}

main {
  margin: 30px 80px;
}

section {
  margin: 30px 0;
}

.section-title {
  font-size: 25px;
  color: rgb(75, 75, 75);
  font-weight: 600;
  margin-bottom: 20px;
}

.category-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.category-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(214, 214, 214);
  border-radius: 6px;
  box-shadow: 0 0 3px 0 rgb(214, 214, 214);
}

.category-img {
  height: 70px;
}

.category-name {
  /* margin: 25px 0 0 10px; */
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-left: 10px;
}

.wide-area-img-1 {
  margin-top: 40px;
  height: 350px;
  background-image: url("./images/wide1.jpg");
  border-radius: 20px;
}

.suggest-box {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
}

.suggest-img {
  height: 250px;
}
